.heart-shape{
    width: 10px;
    height: 10px;
}
	.heart-shape:before,
	.heart-shape:after{
	    
	    width: 10px;
	    height: 10px;
	    content: '';
	}
	.heart-shape:before{
	    bottom: 0px;
	    left: -5px;
	}
	.heart-shape:after{
	    top: -5px;
	    right: 0px;
	}


.title{
	font-size: 23px;
}
.container{
	width: 600px;
	height: 480px;
	margin-left: auto;
	margin-right: auto;
}

.banner h1{
	font-size: 25px;
}

.pitch {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.input {
	margin-left: -240px;
	margin-top: -192px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	.input{
		margin-left: -480px;
		margin-top: -384px;
	}
	}