.art{
	margin-top: 3vh;
}

.banner h1 {
	-webkit-transform: scale(3.5,13);
	transform: scale(3.5,13);
}

@media (max-height: 750px) {
	.banner h1{
		-webkit-transform: scale(3.5,13);
		transform: scale(3.5,13);
		font-size: 3vh;
		}
	}

.banner img {
	max-width: 250%;
	left: -800px;
	margin-top:0;
	top: 10vh;
	z-index: 1;
}

@media (max-height: 650px) {
	.banner img{
		top: 345px;
	}
}

.container {
	margin-left:0px;
	margin-right: 0px;
	left: 50%;
}
.txt2{
	top: 44vh;
	margin-bottom: 0px;
	margin-top: 7%;
}

.txt1 {
	top: 14vh;
}

.pitch {
	position: absolute;
	display: block;
	left: 10%;
	top:20%;
	width: 40%;
	font-size: 18px;
}

.btn {
	position: absolute;
	left: 35%;
	width: 150px;
	font-size: 25px;
	border-radius: 12px;
	color: white;
	padding: 8px;
	background-color: #8C8A8A;
	text-align: center;
}

.calander {
	visibility: hidden;
	position: absolute;
	margin-left: 0px;

	
}

.calander m {
	width: 95px;
	height: 50px;
	padding: 10px;
}

.calander h1 {
	font-size: 18px;
	margin-left: auto;
}

.fifthteen {
	left: 3%;
	top: 6%;
	width: 40%;
	max-width: 400px;
	font-size: 18px;
}



.sixteen {
	left: 3%;
	top: 26%;
	width: 40%;
	max-width: 400px;
	font-size: 18px;
}

@media (max-height: 770px) {
	.fifthteen {
		top: 50px;
	}

	.sixteen{
		top: 200px;
	}
}