<!DOCTYPE html>
<html>
<head>
  <title>BabyTime</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  	<link rel="stylesheet" href="/assets/small.css">
  	<link rel="stylesheet" media='(-webkit-min-device-pixel-ratio: 2)' href="/assets/smallx2.css">
    <link rel="stylesheet" media='screen and (min-width: 600px) and (min-device-width: 600px)' href="/assets/medium.css">
    <link rel="stylesheet" media='screen and (min-width: 1200px)'href="/assets/medium.css">
    
    <link rel="stylesheet" media='screen and (min-width: 1200px)'href="/assets/large.css">

</head>
<body>
	<div class="art">
  		<div class="line">
		</div>
		<div class="heart-shape">
		</div>
		<div class="line">
		</div>
	</div>

  	<div class="banner">
  		<div class="container">
		  		<h1 class="txt1">It's Baby</h1>
		  		<h1 class="txt2">Making Time!!</h1>
		  		<img src="/assets/Stuarttt2.png"> 		
  		</div>
	</div>
	<div class="pitch">
		  		<p>Wedding tabs have been paid, grandmas have been scared, the honeymoon is complete, and the house is bought. That's right folks it's time to MAKE BABBIES!!</p>
		  		<p>The POC Alumni Association has opened the floor to the Great Pedela Baby Race. </p>
		  		<p>Use your mad skillz to determine the month conception. One bet per person, and multiple players can choose the same month. Cost is $20  and the pot will be split evenly among all those that chose the correctly.</p> 
	
				<a href="#" class="btn">View Calander</a>
	</div>

<%= yield %>
<div  class="nav_bar">
  		<tab>
  			<a href="#" id="btn_home" class="nav">Home</a>
  			<a href="#" id="btn_cal" class="nav">Calander</a>
		</tab>
  		<div class="title">Great Pedela Baby Race</div>
  		<tab id="icon">
  			<a href="https://github.com/krapes/Baby_Time" class="fa fa-github-alt social"></a>
  		</tab>
	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="/assets/app.js"></script>
</body>
</html>
